<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterStudent</title>
</head>
<body>
<form action="/register" method="POST">
    <label>RollNumber</label>
    <input type="text" name="rollno"><br>
    <label>Name</label>
    <input type="text" name="name"><br>
    <label>Semmester</label>
    <input type="text" name="semmester"><br>
    <label>CGPA</label>
    <input type="number" name="cgpa"><br>
    <input type="submit" name="submit" value="Register">


</form>
</body>
</html>