<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/static/Admin/style.css">
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"
		integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

	<title>AdminHub</title>
</head>

<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">Mess Admin</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/index">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>

				<a href="/menu">
					<i class='bx bx-dish'></i>
					<span class="text">Menu</span>
				</a>
			</li>

			<!-- <li>
				<a href="#">
					<i class='bx bx-user-plus' ></i>
					<span class="text">Add Student</span>
				</a>
			</li> -->
			<li>
				<a href="/students">
					<i class='bx bxs-group'></i>
					<span class="text">Users

					</span>
				</a>
			</li>
			<li class="active">
				<a href="/todayAttendees">
					<i class='bx bxs-group'></i>
					<span class="text">Today Attendees

					</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/settings">
					<i class='bx bxs-cog'></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu'></i>
			<!-- <a href="#" class="nav-link">Categories</a> -->
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell'></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" href="#">Today Attendees</a>
						</li>
					</ul>
				</div>
				<!-- <a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a> -->
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
						<h3 id="total-student"></h3>
						<p>Today's Attendees</p>
					</span>
					<div style="margin-left: 700px;" id="date"></div>
				</li>
				<!-- <li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>300</h3>
						<p>Total Students</p>
					</span>
				</li> -->
				<!-- <li>
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						<h3>$2543</h3>
						<p>Month's Expenditure</p>
					</span>
				</li> -->
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>All Students</h3>

						<!-- <i class='bx bx-search' ></i> -->
					</div>
					<div class="col-lg-6">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
								</tr>
							</thead>
							<tbody id="exampleid">
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</main>
		<!-- MAIN -->
	</section>
	<script src="static/Admin/script.js"></script>
	<script>
		let result;
		let count = 0;
		let totalNumbers = document.getElementById('total-student')
		const formatedDate = new Date().getDate().toString();
		document.getElementById('date').innerHTML = new Date().toLocaleString()
		$(document).ready(function () {
			let userList;
			$.ajax({
				url: "/api/User", // url where to submit the request
				type: "GET", // type of action POST || GET
				dataType: 'json',
				contentType: "application/json; charset=utf-8",

				success: function (response) {
					userList = response;
					console.log(userList)
					console.log("here")
				},
				error: function (xhr, resp, text) {
					console.log(xhr, resp, text);
					$('body').append('<h2>Error Occured</h2>')
				}
			})


			// let menuTitle =new Array(7);

			// console.log(menuTitle);
			$.ajax({
				url: `/api/attendence/${formatedDate}/lunch`, // url where to submit the request
				type: "GET", // type of action POST || GET
				dataType: 'json',
				contentType: "application/json; charset=utf-8",

				success: function (response) {


					let table = $('#exampleid');
					let header = `<tr>
                 <th>Lunch List</th>
                 <th>Dinner List</th>
               </tr>`;
					table.append(header);
					count += (response['LunchList'].length -response['LunchList'].filter((x)=>x=="").length+ response['DinnerList'].length-response['DinnerList'].filter((x)=>x=="").length);
					// for (let i = 0; i < userList.length; i++) {
					let dinnerStu;
					let lunchStu;
					let lunchList = response['LunchList'];
					let dinnerList = response['DinnerList'];
					// let loopFlag = lunchList.length < dinnerList.length ? dinnerList.length : lunchList.length;
					for (let index = 0; index < userList.length; index++) {
						let curEmail = (userList[index])['email'];
						for (let j = 0; j < lunchList.length; j++) {

							if (curEmail == lunchList[j] && curEmail!="admin@gmail.com") {
								lunchStu = userList[index]['fullName'];
								break;
							}
						}
						for (let j = 0; j < dinnerList.length; j++) {
							if (curEmail == dinnerList[j] && curEmail!="admin@gmail.com") {
								dinnerStu = userList[index]['fullName'];
								break;
							}
						}
						console.log("cE : "+curEmail)
						console.log("dS : "+dinnerStu)
						console.log("ls: "+lunchStu)

						// 	if (dinnerList[j] == undefined) {
						// 		dinnerStu = "";
						// 	}
						// 	else if (lunchList[j] == undefined) {
						// 		lunchStu = "";
						// 	}
						let row = `<tr>
                     <td>` + lunchStu + `</td>
                     <td>` + dinnerStu + `</td>
                   </tr>`;
				   table.append(row);
				   lunchStu="";
				   dinnerStu=""
				}

					totalNumbers.innerHTML = count;
				},





				error: function (xhr, resp, text) {
					console.log(xhr, resp, text);
					$('body').append('<h2>Error Occured</h2>')
				}
			})

		});
	</script>
	</div>
</body>