<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../style.css">

	<title>Product</title>
</head>
<body>
	<button id="mybutton">Show-Products</button>
	<table id="show" border="2">
       

    </table>
		
	<script>
        var myData
        $(document.body).on('click', "#mybutton", function (e) {
            //doStuff
            console.log("hello")
            $.ajax({
                type: "GET",
                url: "/api/products",
                success: function (result) {
                    myData = result
                    console.log(myData)
                    if (myData != null || myData != "") {
                        table = $('#show').DataTable({
                            data: myData, destroy: true,
                            columns: [
                                { data: 'name' },
                                { data: 'description' },
                                { data: 'price' },
                            ],
                            
                        });
                    }
                }
            });
        });


    </script>
</body>