<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>

</head>

<body>
    <center style="width: 500px;margin-left: 500px;margin-top: 100px;">
        <form id="form" action="" method="post">
            <label for="exampleInputEmail1" class="form-label">Name</label> <input class="form-control" type="text"
                name="name" id="name_up"><br>
            <label for="exampleInputEmail1" class="form-label">description</label> <input class="form-control"
                type="text" name="desc"><br>
            <label for="exampleInputEmail1" class="form-label">Price</label> <input class="form-control" type="text"
                name="price"><br>
            <input id="submit" type="button" name="submit" value="submit">
        </form>
    </center>
    <script>
        $(document).ready(function () {
            // click on button submit
            $("#submit").on('click', function () {
                // send ajax
                var formdata = $("#form").serializeArray();
                var data = {};
                $(formdata).each(function (index, obj) {
                    data[obj.name] = obj.value;
                });
                data = JSON.stringify(data)
                var nam = document.getElementById('name_up').value
                console.log(data)
                $.ajax({
                    url: `/api/prod/${nam}`, // url where to submit the request
                    type: "PUT", // type of action POST || GET
                    data: data, // post data || get data
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",

                    success: function (result) {
                        // you can see the result from the console
                        // tab of the developer tools
                        $('body').append('<h2>Updated Successfully</h2>')
                        console.log(result);
                    },
                    error: function (xhr, resp, text) {
                        console.log(xhr, resp, text);
                    }
                })

            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>