<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterContact</title>
</head>
<body>
<form action="/register" method="POST">
    <label>Name</label>
    <input type="text" name="name"><br>
    <label>MobileNo</label>
    <input type="number" name="mobileno"><br>
    <label>City</label>
    <input type="text" name="city"><br>
    <label>Profession</label>
    <input type="text" name="profession"><br>
    <input type="submit" name="submit" value="Register">



</form>
{{msg}}
</body>
</html>